
body{
	font-size: 0.875em;

}

#img-logo{	
	background-image: url(http://placehold.it/64x64);
	background-repeat: no-repeat;
	width: 64px;
    height: 64px;
	margin-right: 10px;
}

#init-link{ 
    text-align: center;
	margin-top: 15px;     
}

.top-bar  input[type="search"] {
    display: inline-block;
    max-width: 94.46%; 
    margin-right: 0px;
	margin-top: 10px;
    border-radius: 0px;
    height: 40px;	 
	background-image: url(http://placehold.it/40x40);
	background-repeat: no-repeat;
	background-position: right;
}

.post-header{
	height: 66px;
	margin-bottom: 0px;
	background-color: lightblue;	
}

.post-footer{
	margin-top: 1px;
}

.post-body{
	margin-bottom: 0px;

}

#post-cols{
	text-align: center;

}

#post-cols > div {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

#icon-search{
	float: right;
	margin-top: 10px;
}

#icons-notify{
	margin-top: 10px;
}

#icons-notify > img {
	display: inline-block;
	float: left;
	margin-right: 10px;
}


.info-player{
	background-color: whitesmoke;
	width: 95%;
	margin-top: 10px;
}

#my-info{
	background-color: lightslategray;
	height: 100%;
}

#main-arean	{
	margin-top: 10px;
}

#name-user{
	height: 64px;
}

.position-left.reveal-for-large{
	position: absolute;
}

.off-canvas-wrapper{
	margin-top: 20px;
}

.row-list-players{
	margin-button: 10px;
}

#col-post-desc {
	display: inline-block;
	margin-bottom: 20px;
}

#score {
	margin-top: 20px;
	font-size: 1.25em;
}

#score > img {
	float: left;
	margin-right: 10px;
}	

@media all and (min-width: 50px)   {  body  { font-size:0.515em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.535em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.555em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.575em;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.595em;  } }
@media all and (min-width: 500px)  {  body  { font-size:0.615em;  } }
@media all and (min-width: 600px)  {  body  { font-size:0.635em;  } }
@media all and (min-width: 700px)  {  body  { font-size:0.655em;  } }
@media all and (min-width: 800px)  {  body  { font-size:0.675em;  } }
@media all and (min-width: 900px)  {  body  { font-size:0.695em;  } }
@media all and (min-width: 1000px) {  body  { font-size:0.715em;  } }
@media all and (min-width: 1100px) {  body  { font-size:0.735em;  } }
@media all and (min-width: 1200px) {  body  { font-size:0.755em;  } }
@media all and (min-width: 1300px) {  body  { font-size:0.775em;  } }
@media all and (min-width: 1400px) {  body  { font-size:0.795em;  } }
@media all and (min-width: 1500px) {  body  { font-size:0.815em;  } }
@media all and (min-width: 1500px) {  body  { font-size:0.835em;  } }
@media all and (min-width: 1600px) {  body  { font-size:0.855em;  } }
@media all and (min-width: 1700px) {  body  { font-size:0.875em;  } }
